<launch>
    <arg name="laser_visualize" default="false"/>
    <arg name="camera_visualize" default="true"/>
        <arg name="odomsource" default="encoder"/>
  <arg name="camera_xyz"  default="0.065   0      0.0857"/>
  <arg name="camera_rpy"  default="0    0.25  0"/>
    

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find jetbot_description)/urdf/jetbot.urdf' laser_visualize:=$(arg laser_visualize) camera_visualize:=$(arg camera_visualize) camera_xyz:='$(arg camera_xyz)' camera_rpy:='$(arg camera_rpy)' odomsource:='$(arg odomsource)' " />
  <param name="robot_description" command="$(arg urdf_file)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
