<!-- example of simulation run with SLAM -->

<launch>
  
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/> 
    
  <!-- Gazebo world loading -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="false" />
    	<arg name="gui" value="true" />
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="false"/>
    	<arg name="headless" value="false"/>
    	<arg name="verbose" value="true"/>
  </include>
  
  <!-- robot spawn -->
  <include file="$(find jetbot_description)/launch/spawn.launch" >
    <arg name="x" value="$(arg x)" /> 
    <arg name="y" value="$(arg y)" /> 
    <arg name="z" value="$(arg z)" /> 
    <arg name="P" value="$(arg P)" /> 
    <arg name="Y" value="$(arg Y)" /> 
    <arg name="R" value="$(arg R)" /> 
  </include>

  <!-- rosbot description -->
  <include file="$(find jetbot_description)/launch/jetbot_description.launch" />

  <!-- run SLAM -->
  <!--include file="$(find jetbot_slam)/launch/jetbot_hector_slam.launch" /-->
  <!--include file="$(find jetbot_navigation)/launch/jetbot_move_base.launch" /-->
  
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetbot_description)/rviz/mapping_view.rviz" / -->
  
</launch>
